.dashboard {
  display: flex;

  &__sidebar {
    flex: 1;
  }

  &__wrapper {
    flex: 9;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  &__title {
    color: $secondary;
    display: flex;
    justify-content: center;
    font-family: $roboto;
    font-size: 4em;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 3em;
    padding: 5em;
  }
}
