.products {
  display: flex;

  &__sidebar {
    flex: 1;
  }
  &__wrapper {
    flex: 9;
  }
  &__title {
    color: $secondary;
    display: flex;
    justify-content: center;
    font-family: $lobster-font;
    font-size: 4em;
  }
  .table {
    margin: 0 auto;
    height: 90%;
    padding: 1em;
    max-width: 75em;
  }
}
.cell-img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
