//Fonts

@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

$Dynalight: 'Dynalight', cursive;
$roboto: 'Roboto', sans-serif;

//Colors

$primary: #fbfbfb;
$secondary: #110f9e;
$dark: #1f1d1c;

//Mixins
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
