.about {
  &__title {
    color: $dark;
    font-family: $syne-font;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    @include breakpoint(tablet) {
      font-size: 3em;
    }
    @include breakpoint(laptop) {
      font-size: 4.5em;
      margin: 0.2em;
    }
  }

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20em;
    @include breakpoint(phablet) {
      width: 34em;
      flex-direction: row;
      margin-top: 2em;
    }

    @include breakpoint(laptop) {
      width: 60em;
    }
    @include breakpoint(desktop) {
      margin-top: 0;
    }
  }
  &__left {
    width: 16em;
    display: flex;
    flex-direction: column;

    @include breakpoint(phablet) {
      display: grid;
      grid-gap: 1em;
      grid-template-rows: repeat(3, 20em);
      grid-template-columns: 16em;
      justify-content: center;
      margin-bottom: 2em;
    }

    @include breakpoint(laptop) {
      width: 30em;
      grid-template-rows: repeat(3, 30em);
      grid-template-columns: 26em;
      align-items: center;
    }
    //   @include breakpoint(desktop) {
    //   }

    img {
      width: 16em;
      align-self: center;
      margin-top: 2em;
      @include breakpoint(phablet) {
        margin: 0;
        height: 20em;
      }
      @include breakpoint(laptop) {
        justify-self: center;
        width: auto;
        height: 30em;
        object-fit: contain;
      }
    }

    p {
      color: $dark;
      font-family: $roboto;
      font-size: 1em;
      align-self: center;
      margin-top: 2em;
      width: 16em;
      @include breakpoint(phablet) {
        margin: 0;
        width: 100%;
        height: 20em;
        display: flex;
        align-items: center;
      }
      @include breakpoint(laptop) {
        justify-self: center;
        font-size: 1.5em;
        width: 15em;
      }
    }
  }
  &__right {
    width: 16em;
    display: flex;
    flex-direction: column;
    @include breakpoint(phablet) {
      display: grid;
      grid-gap: 1em;
      grid-template-rows: repeat(3, 20em);
      grid-template-columns: 16em;
      justify-content: center;
      margin-bottom: 2em;
    }

    @include breakpoint(laptop) {
      width: 30em;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 26em;
      align-items: center;
      margin-top: 0;
    }
    //   @include breakpoint(desktop) {
    //   }

    img {
      width: 16em;
      align-self: center;
      margin-top: 2em;
      @include breakpoint(phablet) {
        margin: 0;
      }
      @include breakpoint(laptop) {
        justify-self: center;
        width: 23em;
        height: auto;
        object-fit: contain;
      }
    }
    p {
      color: $dark;
      font-family: $roboto;
      font-size: 1em;
      margin-top: 2em;
      @include breakpoint(phablet) {
        margin: 0;
        width: 100%;
        height: 20em;
        display: flex;
        align-items: center;
      }
      @include breakpoint(laptop) {
        justify-self: center;
        font-size: 1.5em;
        width: 15em;
      }
    }
  }
}
