.contacts {
  max-width: 20em;
  display: flex;
  flex-direction: column;
  margin: 10em auto;
  justify-content: center;
  align-items: center;

  &__title {
    color: $dark;
    font-family: $roboto;
    font-size: 1.5em;
    font-weight: bolder;
  }
  p {
    margin: 0.5em;
    color: $dark;
    font-family: $roboto;
  }
  strong {
    padding-right: 0.2em;
    color: $dark;
    font-family: $roboto;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      border: 1px solid $dark;
      padding: 0.5em;
      border-radius: 5px;
      margin: 0.5em 0;
    }
    textarea {
      border: 1px solid $dark;
      padding: 0.5em;
      border-radius: 5px;
      margin: 0.5em 0;
      height: 10em;
    }
  }
}
