.contacts {
  max-width: 16em;
  display: flex;
  flex-direction: column;
  margin: 10em auto;
  justify-content: center;
  align-items: center;

  &__title {
    color: $dark;
    font-family: $roboto;
    font-size: 1.5em;
    font-weight: bolder;
  }
  p {
    margin: 0.5em;
    color: $dark;
    font-family: $roboto;
  }
  strong {
    padding-right: 0.2em;
    color: $dark;
    font-family: $roboto;
  }
}
