.header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  max-width: 100%;
  @include breakpoint(phablet) {
    height: 4em;
  }

  &__logo {
    width: 2em;
    margin-left: 2em;
    filter: invert(50%) sepia(11%) saturate(315%) hue-rotate(347deg)
      brightness(98%) contrast(91%);
    @include breakpoint(phablet) {
      width: 3em;
    }
  }
}
