.home {
  display: flex;
  flex-direction: row;
  max-width: 23em;
  margin: 0 auto;

  @include breakpoint(phablet) {
    max-width: 37.5em;
  }
  @include breakpoint(laptop) {
    max-width: 80em;
  }
  @include breakpoint(desktop) {
    max-width: 119em;
  }
  &__circle {
    position: absolute;
    top: 6em;
    right: 15%;
    width: 20em;
    height: 20em;
    border: 1px solid $dark;
    border-radius: 50%;
    z-index: -1;
    @include breakpoint(phablet) {
      width: 30em;
      height: 30em;
    }
    @include breakpoint(laptop) {
      top: 6em;
      right: 35%;
      width: 40em;
      height: 40em;
    }
    @include breakpoint(desktop) {
      top: 5em;
      right: 40%;
      width: 55em;
      height: 55em;

      z-index: 1;
    }
  }
}
