.left {
  height: 20em;

  @include breakpoint(phablet) {
    height: 14em;
  }
  @include breakpoint(laptop) {
    height: 1em;
  }
  @include breakpoint(desktop) {
    width: 40em;
  }

  .img-1 {
    width: 12em;
    height: auto;
    position: relative;
    top: -19em;
    z-index: 2;
    @include breakpoint(phablet) {
      width: 20em;
      top: -29em;
    }
    @include breakpoint(laptop) {
      width: 30em;
      top: -45em;
    }
    @include breakpoint(desktop) {
      width: 40em;
      top: -43em;
    }
  }
  .img-2 {
    width: 10em;
    position: relative;
    left: 10em;
    top: -22em;

    @include breakpoint(phablet) {
      width: 18em;
      top: -44.1em;
      left: 17em;
    }
    @include breakpoint(laptop) {
      width: 22em;
      top: -32em;
      left: -5em;
    }
    @include breakpoint(desktop) {
      width: 29em;
      left: 35em;
      top: -68em;
      z-index: 1;
    }
  }
}
