.left {
  // background-color: aquamarine;
  height: 100%;
  width: 50%;
  position: relative;

  .img-1 {
    width: 12em;
    height: auto;
    margin-top: 6em;
    position: relative;
    left: 0.5em;
    z-index: 2;

    @include breakpoint(phablet) {
      top: 0;
      width: 20em;
      position: relative;
    }
    @include breakpoint(laptop) {
      width: 30em;
      top: -5em;
    }
    @include breakpoint(desktop) {
      top: 2em;
      width: 40em;
      left: -2em;
    }
  }
  .img-2 {
    width: 10em;
    position: relative;
    left: 10em;
    top: -5em;
    right: 0.5em;

    @include breakpoint(phablet) {
      width: 15em;
      top: -9em;
      left: 17em;
    }
    @include breakpoint(laptop) {
      width: 22em;
      top: -16em;
      left: 25em;
    }
    @include breakpoint(desktop) {
      width: 29em;
      left: 31em;
      top: -18em;
      z-index: 1;
    }
  }
}
