.navbar {
  z-index: 3;
  .css-i4bv87-MuiSvgIcon-root {
    font-size: 1.2em;
    margin-right: 1em;
  }
  .menu {
    color: $dark;
    font-size: 2em;
    display: flex;
    align-self: center;
    cursor: pointer;
  }

  .closed {
    color: $dark;
    cursor: pointer;
    display: flex;
    margin-top: 0.7em;
    justify-content: flex-end;
    width: 100%;
    .close {
      color: $dark;
      font-size: 2em;
      display: flex;
      align-self: center;
      cursor: pointer;
    }
  }
  .slider {
    float: right;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    left: -100%;
    background-color: $white;

    ul {
      display: flex;
      flex-direction: column;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 1em 0 1em;
        border-bottom: 1px solid $dark;

        &:hover {
          background-color: darken($color: $white, $amount: 5);
        }

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          color: $dark;
          font-size: 1.5em;
          text-transform: uppercase;
          cursor: pointer;
          font-family: $roboto;
        }
      }
    }
  }
  .slider.open {
    position: fixed;
    width: 100%;
    left: 0;
  }
  &__social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    h3 {
      color: $dark;
      font-weight: normal;
      font-family: $roboto;
      margin-bottom: 0.3em;
    }
    a {
      color: $dark;
      font-size: 1.5em;
      width: 1em;
      margin: 0.2em;
      .css-i4bv87-MuiSvgIcon-root {
        margin: 0;
      }
    }
  }
}

@media (min-width: 50em) {
  .navbar {
    width: 80%;

    .css-i4bv87-MuiSvgIcon-root {
      display: none;
    }
    .menu-icon {
      display: none;
    }
    .slider {
      position: static;
      right: 0;
      top: 0;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 4em;
      transition: none;

      .close {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;

        li {
          margin: 0 1em 0 0;
          border: none;
          &:hover {
            background-color: darken($color: $white, $amount: 5);
          }

          a {
            text-decoration: none;
            color: $dark;
            white-space: nowrap;
            font-size: 1.2em;
            font-weight: bolder;
            cursor: pointer;
          }
        }
      }
    }
    &__social-container {
      display: none;
    }
  }
}
