.products {
  max-width: 23em;
  margin: 0 auto;
  height: calc(100vh - 7.5em);

  @include breakpoint(tablet) {
    max-width: 50em;
  }
  @include breakpoint(laptop) {
    max-width: 80em;
  }
  @include breakpoint(desktop) {
    max-width: 119em;
  }

  &__title {
    color: $dark;
    margin: 1em 0;
    font-family: $Dynalight;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;

    @include breakpoint(tablet) {
      font-size: 3.5em;
    }
    @include breakpoint(laptop) {
      font-size: 4.5em;
      margin: 0;
    }
  }
  &__container {
    width: 100%;
    margin: 0 auto;
    @include breakpoint(tablet) {
      width: 50em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
    }
    @include breakpoint(laptop) {
      width: 80em;
      grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
    }
    @include breakpoint(desktop) {
      width: 100em;
      grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    }
  }
}
.css-1oj2twp-MuiPagination-root {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
