.right {
  width: 20em;
  margin: 0 auto;
  position: relative;
  top: -18em;

  @include breakpoint(phablet) {
    width: 35.5em;
  }
  @include breakpoint(laptop) {
    width: 55em;
  }
  @include breakpoint(desktop) {
    width: 40em;
  }

  .paragraph {
    color: $dark;
    font-family: $roboto;
    font-size: 0.9em;
    width: 100%;
    padding-bottom: 2em;

    @include breakpoint(phablet) {
      width: 100%;
    }

    @include breakpoint(laptop) {
      width: 30em;
      position: absolute;
      bottom: -5em;
      right: -10em;
    }
    @include breakpoint(desktop) {
      width: 35em;
      font-size: 1.5em;
      right: -26em;
      z-index: 1;
    }

    p {
      padding: 0.3em 0;
    }
  }
}
