.sidebar {
  .social-container {
    position: fixed;
    right: 0.3em;
    top: 45%;
    height: 5em;
    width: 1.5em;
    li {
      list-style-type: none;
      margin: 10px auto;
      a {
        font-size: 10px;
        color: $dark;
        font-weight: bolder;
        text-decoration: none;
      }
    }
  }
}
