//Fonts

@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

$Dynalight: 'Dynalight', cursive;
$lobster-font: 'Lobster', cursive;
$roboto: 'Roboto', sans-serif;

//Colors

$primary: rgb(196, 196, 196);

$dark: rgb(135, 126, 118);
$white: rgb(245, 245, 245);

//Mixins
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Breakpoints
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 121em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 80em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  }
}
