//Fonts

@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$Dynalight: 'Dynalight', cursive;
$lobster-font: 'Lobster', cursive;

//Colors

$primary: #c4c4c4;

$dark: #877e76;
$white: #f5f5f5;

//Mixins
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Breakpoints
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 119em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 80em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  }
}
