//Fonts

@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$Dynalight: 'Dynalight', cursive;
$lobster-font: 'Lobster', cursive;

//Colors

$primary: #c4c4c4;
$secondary: #e3d3dc;
$dark: #877e76;
$green: #29de92;
$white: #f5f5f5;

//Mixins
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
