@import './variables.scss';
@import './base';

//Components

@import './sidebar';
@import './header';
@import './home';
@import './leftHome';
@import './rightHome';
@import './notFound';
@import './products';
@import './spinner';
@import './card';
